@font-face {
  font-family: 'bodyFont';
  src: url(../../fonts/Montserrat.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background-image: url('bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes float {
    0% { transform: translateY(0) rotate(var(--rotation, 0deg)); }
    50% { transform: translateY(-5px) rotate(calc(var(--rotation, 0deg) + 1deg)); }
    100% { transform: translateY(0) rotate(var(--rotation, 0deg)); }
  }

    
  .water {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; 

    background-image: url('birdbath.png');
    /* repeat horizontally here */
    background-size: 100% 100%; 
    background-position: bottom center; 

  }

  
  .flower {
    width: 100px;
    height: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  
    animation:
      flower-fade-in 0.4s ease-out forwards,
      float 3s ease-in-out infinite 0.4s; /* starts after fade-in ends */
    transition: transform 0.2s ease;
  }
  

  @keyframes flower-fade-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  .ripple-circle {
    fill: none;
    stroke: rgb(134, 244, 250); 
    stroke-width: 2;
    transform-origin: center;
    animation: ripple-circle-grow 0.8s ease-out forwards;
  }
  
  @keyframes ripple-circle-grow {
    0% {
      transform: scale(1, 0.5) translateY(15px);  /* Move ripple down by 10px */
      opacity: 0.6;
    }
    100% {
      transform: scale(8, 1) translateY(15px);  /* Keep it moved down by 10px at the end */
      opacity: 0;
    }
  }

  .bird {
    position: fixed;
    top: 3vh;  
    left: 2vw;
    
    height: 33vh;
    width: auto;
    z-index: 1;

    pointer-events: auto;
    transition: transform 0.2s ease;
  }

  .bird-link:hover .bird {
    transform: scale(1.05);
  }

  .instructions{
    position: fixed;
    top: 1vh;
    right: 1vw;
    max-width: 250px;
    padding: 12px;
    border-radius: 8px;
    font-family: 'bodyFont';
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.806);
    z-index: 1000;
    text-align: right;
  }

  audio{
    position: fixed;
    mix-blend-mode: darken;
    top: 90%;
    right: 0px;
    opacity: 0.5;
    z-index: 10;
}




  
  
  
  
  


  