@font-face {
  font-family: 'bodyFont';
  src: url(../../fonts/Montserrat.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background-image: url('bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #girl{
    position: absolute;
    bottom: 0;
    left: 37vw;
    height: 85vh;
    width: auto;
  }

  .bubble {
    position: fixed;
    top: 20vh;  
    left: 58vw;
    
    height: 10vh;
    width: auto;
    z-index: 1;

    pointer-events: auto;
    transition: transform 0.2s ease;
  }

  .bubble-link:hover .bubble {
    transform: scale(1.05);
  }


  #petalCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;

  }

  
  /* sway da grass */
  @keyframes meadowSway {
    0%   { transform: translateX(0) skewX(0deg); }
    25%  { transform: translateX(-3px) skewX(-0.3deg); }
    50%  { transform: translateX(0) skewX(0deg); }
    75%  { transform: translateX(3px) skewX(0.3deg); }
    100% { transform: translateX(0) skewX(0deg); }
  }

    
  .meadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; 

    background-image: url('grass.PNG');
    /* repeat horizontally here */
    background-repeat: repeat-x; 
    background-size: auto 100%; 
    background-position: bottom left;
    
    z-index: -1;

    animation: meadowSway 6s ease-in-out infinite;
  }

  audio{
    position: fixed;
    mix-blend-mode: darken;
    top: 90%;
    right: 0px;
    opacity: 0.5;
    z-index: 10;
}

  
  

